<style>
	.footer{
		background: #333 none repeat scroll 0 0;
		margin: 60px auto 0;
		min-width: 1000px;
	}
	.footer-content{
		color: #CCCCCC;
		font: 12px/40px arial;
		height: 40px;
		overflow: hidden;
		padding: 0 10px;
	}
	.footer-content span{
		color: #666666;
		font-size: 10px;
		font-family: "宋体";
		float: right;
		margin: 0 -7px 0 0;
	}
	.footer-content span a{
		color: #CCCCCC;
		font-family: arial;
		font-size: 12px;
		padding: 0 6px 0 7px;
		text-decoration: none;
	}
</style>
<section>
	<div class="footer clearfix">
		<div class="footer-content content-center">
			©2017 手机资讯
			<span>
				<a rel="nofollow" href="/">网站简介</a>
				|
				<a rel="nofollow" href="/">帐号注册</a>
				|
				<a rel="nofollow" href="/">联系方式</a>
				|
				<a rel="nofollow" href="/">隐私声明</a>
				|
				<a rel="nofollow" href="/">反馈纠错</a>
			</span>
		</div>
	</div>
</section>