<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%=title%></title>
		<link rel="shortcut icon" href="../static/img/icon_16X16.ico" type="image/x-icon" />
		<link rel="stylesheet" href="../static/css/reset.css" />
		<link rel="stylesheet" href="../static/css/common.css" />
		<script src="../static/script/lib/jquery.js"></script>
		<style>
			
		</style>
	</head>
	<body>
		<% include include/index-top.html %>
		<% include include/detail-templet.html %>
		<% include include/index-bottom.html %>
	</body>
	<script src="../static/script/lib/vue.js"></script>
	<script src="../static/script/contents.js"></script>
	<script src="../static/script/common.js"></script>
	<script src="../static/script/comment.js"></script>
</html>
