<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%=title%></title>
		<link rel="shortcut icon" href="../static/img/icon_16X16.ico" type="image/x-icon" />
		<link rel="stylesheet" href="../static/css/reset.css" />
		<link rel="stylesheet" href="../static/css/common.css" />
		<script src="../static/script/lib/jquery.js"></script>
		<style>
			.content-center{
				width:1200px;
				margin:0 auto;
			}
		</style>
	</head>
	<body id="Mobile">
		<div>
			<% include include/index-top.html %>
			<% include include/mobile-templet.html %>
			<% include include/index-bottom.html %>
		</div>
	</body>
	<script src="../static/script/lib/vue.js"></script>
	<script src="../static/script/moblie-jquery.js"></script>
	<script src="../static/script/mobile-vue.js"></script>
	<script src="../static/script/common.js"></script>
</html>